In [2]:
import pandas as pd

df = pd.read_csv("data\genres.csv")
df

             id      genre
0       1000001     Comedy
1       1000001    Fantasy
2       1000001  Adventure
3       1000002     Comedy
4       1000002   Thriller
...         ...        ...
990765  1896380      Crime
990766  1896380      Drama
990767  1896382      Drama
990768  1896391      Music
990769  1896393   TV Movie

[990770 rows x 2 columns]

In [39]:
import os
import pandas as pd
from dataset import PosterDataset

df = pd.read_csv("data\genres.csv")

# Specify the path of the data folder
train_folder = "data/yolo_dataset_singlecls/train"
val_folder = "data/yolo_dataset_singlecls/val"

# Get the column names
genres = df["genre"].unique()

# Create a folder for each column name inside the data folder
for genre in genres:
    os.makedirs(os.path.join(train_folder, genre), exist_ok=True)
    os.makedirs(os.path.join(val_folder, genre), exist_ok=True)

In [ ]:
import numpy as np
import shutil
from tqdm import tqdm
from sklearn.model_selection import train_test_split

# Split the data into train and test sets
train_id, val_id = train_test_split(df["id"].unique(), test_size=0.2, random_state=42, shuffle=True)

for movie_id in tqdm(df["id"].unique()):
    row = df[df["id"] == movie_id]
    genre = row.values[0][1]
    filename = f"{movie_id}.jpg"
    if filename in os.listdir(f"data/posters/"):
        if movie_id in train_id:
            shutil.copy(f"data/posters/{movie_id}.jpg", f"{train_folder}/{genre}/{movie_id}.jpg")
        else:
        shutil.copy(f"data/posters/{movie_id}.jpg", f"{val_folder}/{genre}/{movie_id}.jpg")
    else:
        continue