In [3]:
import pandas as pd
from dataset import PosterDataset

df = pd.read_csv(PosterDataset.csv_file)
df

,movie_id,_Action,_Adventure,_Animation,_Comedy,_Crime,_Documentary,_Drama,_Family,_Fantasy,...,_Horror,_Music,_Mystery,_Romance,_Science Fiction,_TV Movie,_Thriller,_War,_Western,genre_count
0,1000001,False,True,False,True,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,3
1,1000002,False,False,False,True,False,False,True,False,False,...,False,False,False,False,False,False,True,False,False,3
2,1000003,True,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,3
3,1000004,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,1
4,1000005,False,True,False,False,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548830,1896371,False,False,True,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,2
548831,1896372,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,1
548832,1896373,False,False,False,True,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,2
548833,1896382,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,1
548834,1896391,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,1

In [32]:
import os

# Specify the path of the data folder
train_folder = "data/yolo_dataset/train"
val_folder = "data/yolo_dataset/val"

# Get the column names
column_names = df.columns[1:20]

# Create a folder for each column name inside the data folder
for name in column_names:
    os.makedirs(os.path.join(train_folder, name), exist_ok=True)
    os.makedirs(os.path.join(val_folder, name), exist_ok=True)

In [ ]:
import numpy as np
import shutil
from tqdm import tqdm
from sklearn.model_selection import train_test_split

# Split the data into train and test sets
train_df, val_df = train_test_split(df, test_size=0.2, random_state=42, shuffle=True)

for id, movie_id in tqdm(enumerate(df["movie_id"]), total=len(df["movie_id"])):
    for col, i in enumerate(df.iloc[id, np.arange(1, 20)]):
        if i == 1:
            if df["movie_id"][id] in train_df["movie_id"].values:
                shutil.copy(
                    f"data/posters/{movie_id}.jpg",
                    f"data/yolo_dataset/train/{column_names[col]}/{movie_id}.jpg",
                )
            else:
                shutil.copy(
                    f"data/posters/{movie_id}.jpg",
                    f"data/yolo_dataset/val/{column_names[col]}/{movie_id}.jpg",
                )